.gitignore

# Logs
logs
*.log
npm-debug.log*

.idea/
.DS_Store

# assets
assets/

# Dependency directories
node_modules

# webpack isomorphic
webpack-assets.json
webpack-stats.json

# vscode config
jsconfig.json
